:root{
    font-size: 62.5%;
    font-family: 'Akronim', cursive;   
}
html {
    height: 100vh;
}
body, main {
    margin: 0px;
    background-color: rgba(0, 3, 17, 1);
    height: calc(100% - 17vh);
    width: 100%;
}
h2 {
    color: rgba(209, 255, 255, 1);
}
h3 {
    font-size: 5vh;
}
p {
    font-size: 2vh;
}
header {
    margin: 0;
    height: auto;
    padding: 0;
    display: flex;
    box-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.header-background {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 17vh;
    overflow: hidden;
}
.header-text {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    color: rgba(209, 255, 255, 1);
    text-shadow: 2px 2px 8px black;
    font-size: 10vw;
    font-family: 'Akronim', cursive;
}
.dashed-border {
    border-right: 6px dashed rgba(209, 255, 255, 1);
    height: 100%;
}
form {
    text-align: center;
}
.label-text .input-submit{
    padding: 1.5vh;
}
ul {
    padding-top: 2vh;
    padding-left: 0;
    margin: 0;
    text-align: center;
}
input[type=text] {
    width: 100%;
    padding: 1vh;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 2.5vh;
    text-align: center;
}
input[type=text]:focus {
    background-color: blanchedalmond;
}
input[type=submit] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2vh;
}
input[type=text]:focus {
    background-color: blanchedalmond;
}
.previous {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2vh;
    background: rgb(220, 255, 255);
    transition-duration: 800ms;
   
}
.previous:hover {
    background: radial-gradient(rgb(220, 255, 255, 0.5) 40%, rgba(255, 226, 255, 0.5) 80%, rgba(0, 3, 17, 1) 70%);
    font-weight: bolder;
    color: rgb(255, 126, 3);
    font-size: 2vh;
    text-shadow: 2px 2px 5px black;
}
.current {
    text-align: center;
}
  